<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Editor</title>
    <style>
        html {
            height: 100%;
        }
        body 
        { 
            font: 10px Helvetica, Arial; 
            margin: 0;
            height: 100%;
        }
        #container 
        { 
            height: 100%;
        }

		 #toolbar {
            border-bottom: 1px solid #E8E8E8;
            background-color: #F5F5F5;
            min-height: 35px;
            max-height: 35px;
            height: 35px;

            padding: 4px;
        }

        #editor {
            background-color: #FFFFFF;
            height: calc(100% - 35px);

        }

        #status-bar {
            background-color: #F5F5F5;
            height: 10px;
            padding: 5px;
        }

        .qt-toolbar.qt-snow
        {
            padding: 4px;
        }
    </style>

    <script src="/js/jquery-3.2.1.min.js"></script>
    
    <script src="/js/jquery.validate.js"></script>
    <script src="/js/additional-methods.js"></script>

    <script src="/js/cryptojslib/rollups/aes.js"></script>
    <script src="/js/cryptojslib/rollups/pbkdf2.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.4/socket.io.js" integrity="sha256-lDaoGuONbVHFEV6ZW3GowBu4ECOTjDE14hleNVBvDW8=" crossorigin="anonymous"></script>
    <script src="/js/quill.js"></script>
    <link rel="stylesheet" href="/css/quill.snow.css">
    
    <link rel="stylesheet" href="/css/bootstrap.min.css">
  </head>
	<body>
        <%- include('../partials/header', {user: user}) %>

		<div class="container">
            <div id="toolbar">
                <select class="ql-size">
                    <option value="huge"></option>
                    <option value="large"></option>
                    <option selected></option>
                    <option value="small"></option>
                </select>
                <button class="ql-bold"></button>
                <button class="ql-italic"></button>
                <button class="ql-underline"></button>
                <button class="ql-code-block" value="sub"></button>
            </div>
            <div id="editor"></div>
		</div>
	</body>

    <input type="hidden" id="key" value="<%= key %>">
    <input type="hidden" id="roomId" value="<%= roomId %>">
    <input type="hidden" id="sid" value="<%= sid %>">

    <script>
        function getCookie(cname) 
        {
            var name = cname + "=";
            var decodedCookie = decodeURIComponent(document.cookie);

            console.log(document.cookie);
            console.log(decodedCookie);

            var ca = decodedCookie.split(';');
            for(var i = 0; i <ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }

        $(function()
        {
            var sid = getCookie('connect.sid');
            console.log($('#sid').val());

            var socket = io('https://syncpad.ikonzeh.org:8443',
            {
                query: 'session_id=' + $('#sid').val()
            }
            );

            socket.on('connect', function()
            {
                /*
                socket.emit('authentication', 
                { 
                    "username": "<%= user.username %>", 
                    "password": "<%= pass %>", 
                    "editor_room_id" : "<%= roomId %>"
                });

                socket.on('unauthorized', function(err)
                {
                    console.log(err.message);
                    socket.close();
                });
                */

                socket.on('authenticated', function() 
                {
                    console.log('socket:authenticated');
                });
            });

            var editor = new Quill('#editor', 
            {
                modules: {
                    toolbar : '#toolbar'
                }, 
                theme: 'snow'
            });
            
            //TODO Jquery Validation
            
            $('.alert .close').on('click', function(e) 
            {
                $(this).parent().hide();
            });

            function successAlert(msg)
            {
                $('#alert-success-txt').text(msg);
                $('#alert-success').show();

                $("#alert-success").fadeTo(2000, 500).slideUp(500, function()
                {
                    $("#alert-success").slideUp(500);
                });
            }

            function errorAlert(msg)
            {
                $('#alert-error-txt').text(msg);
                $('#alert-error').show();

                $("#alert-error").fadeTo(2000, 500).slideUp(500, function()
                {
                    $("#alert-error").slideUp(500);
                });
            }
        });
    </script>
</html>
    